<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Tracker</title>

    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
    <script src="node_modules/angular/angular.js"></script>

    <script src="app.module.js"></script>
    <script src="sessionid.service.js"></script>
    <script src="sessionid.ctrl.js"></script>
    <script src="add.directive.js"></script>
    <script src="list.directive.js"></script>
    <script src="digest.service.js"></script>
    <script src="digestView.directive.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header" ng-controller="SessionCtrl as session">
            <a class="navbar-brand" href="#">Job Tracker {{session.id}}</a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="starter-template">
        <div class="row">
          <djt-add/>
        </div>

        <div class="row">
          <djt-list/>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
